.card{
    max-width: 570px;
    margin: auto;
    background: #FFFFFF;
border: 1px solid #e7e6e6;
box-sizing: border-box;
border-radius: 4px;
}
.login-box{
    text-align: center;
    padding: 150px 10px;
    margin-top: 20px;
}
.login-box button{
    width: 60%;
    background: #FFFFFF;
border: 1px solid #C7C7C7;
box-sizing: border-box;
border-radius: 57px;
display: flex;
margin: auto;
align-items: center;
padding: 4px;
font-size: 1rem;
cursor: pointer;
font-weight: 500;
}
.login-box button svg{
    font-size: 33px;
}
.login-box button span{
    display: block;
    text-align: center;
    width: 100%;
}

.login-box .reg a{
    color: #3F90FC;
}