.vol-reg{
    padding: 25px;
    margin-top: 20px;
}
.vol-reg h2{
    margin-top: 0;
}
.vol-reg input,
.vol-reg textarea
{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #C5C5C5;
    background: #f8f7f7;
    font-size: 16px;
}
.vol-reg input:focus,
.vol-reg textarea:focus
{
    border-bottom: 1px solid #3F90FC;
    outline: none;
}
.vol-reg button {
    background: #3F90FC;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: all ease-in .2s;
    width: 100%;
    font-size: 1rem;
}